body{
    background-image: url(/images/planets/space.jpg);
}


.planet-container{

    .planets{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding: 20px;

        &__mercury{
            width: 70%;
        }
    }  
}