$color-1: #020d33;
//$color-1-light: $color-1 * 0.4;
//-1.1 = minus verdier, lager verdien lysere. * 0.1 gir mørkere verdi
$color-2: #ced9ff;
$color-3: #ff7a41;
$color-4: #66f875;
$color-5: #f5f5f5;
$color-6: #6f7488;
$color-7: #464d66;

/*mob*/
.page-header {
  //background: rgb(255, 255, 255, 0.3);
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
  //align-items: center;
  //position: fixed;
  //width: 100vw;
  display: flex;
  justify-content: right;
  margin: 1rem;

  .nav-btn {
    //float: right;
    // order: 2;
    font-family: "Share Tech Mono", monospace;
    font-size: 0.9rem;
    color: $color-1;
    background-color: $color-5;
    border: none;
    border-radius: 2rem;
    width: 9rem;
    height: 3rem;
    padding: 0.8rem;
    margin-right: 1rem;
  }
  .nav-btn:hover {
    border: solid $color-5;
    background-color: $color-1;
    color: $color-5;
  }

  /*tablet*/
  @media screen and(min-width: 768px) {
  }
  .start-quize-btn {
    width: 9rem;
    margin-right: 2rem;
  }
}

/* samme for pc  1200px */
