$color-1: #020d33;
$color-2: #ced9ff;
$color-3: #ff7a41;
$color-4: #66f875;
$color-5: #f5f5f5;
$color-6: #6f7488;
$color-7: #464d66;

/* Mob */
.icon-section {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  //align-items: center;
  //width: 100vw;

  .icon-titel {
    font-size: 1.7rem;
  }
  .icon-titel {
    order: 0;
    width: 100%;
    color: $color-5;
    font-family: "VT323", monospace;
    text-align: center;
  }

  .icon {
    order: 1;
    width: 100%;
    text-align: center;
    margin: 2rem;

    &__planet {
      width: 3rem;
      height: 2.1rem;
      padding: 1rem;
      margin-right: 2rem;
    }
    &__planet:hover {
      background-color: $color-1;
      opacity: 0.5;
    }

    &__building {
      width: 2.5rem;
      padding: 1rem;
      height: 2.2rem;
    }
    &__building:hover {
      background-color: $color-1;
      opacity: 0.5;
      /*   border: 0.15rem solid;
      border-radius: 20%;
      border-color: $color-3;
      width: 2rem;
      height: 1.5rem;
      */
    }
  }
}
