.learning-page-btn{
    order: 2;
    font-family: "VT323", monospace;
    font-size: 0.6rem;
    color: $color-1;
    background-color: $color-3;
    border: none;
    border-radius: 2rem;
    width: 5rem;
    height: 2rem;
    margin: 0.8rem;
    margin-right: 1rem;
    
}