$color-1: #020d33;
$color-2: #ced9ff;
$color-3: #ff7a41;
$color-4: #66f875;
$color-5: #f5f5f5;

$font-1: "VT323", monospace;
$font-2: "montserrat";


body{
    background-color: $color-1;
    //box-sizing: border-box;
}

.quiz-section{
    color: $color-5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-2;
    padding: 1rem;
    position: relative;


    &__div, &__div2{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        font-size: 12px;
    }
}

.question{
    padding: 1rem;
    font-family: $font-2;
    font-size: 14px;
}

.quiz-label{
    padding: 1rem;
}

/**
.quiz{
    //box-sizing: border-box;
    background-color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 3rem 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;

    &__div{
        color: $color-1;
        font-family: $font-1;
        overflow: hidden;

        #question-h3{
            padding: 0.5rem;
        }

        .list{
           
        }

    }

    #next-btn{
        border-radius: 5px;
        display: block;
        border: none;
        background-color: $color-1;
        color: $color-5;
        font-family: $font-1;
        padding: 0.5rem;
        margin: 1rem;

        &:focus{
            outline: none;
            background-color: $color-3;
        }

    }


}*/


