$color-1: #020d33;
$color-2: #ced9ff;
$color-3: #ff7a41;
$color-4: #66f875;
$color-5: #f5f5f5;
$color-6: #6f7488;
$color-7: #464d66;

/* Mobile */
.page-header{
    justify-content: flex-start;

    .back-btn{
        margin-left: 0.5rem;
        color: $color-3;
        padding: 0.4rem;
        flex: start;
 
    }

    .nav-btn{
        width: 9rem;
        margin: 0.5rem;
        font-size: 0.8rem;
    }


/* Tablet */
    @media screen and(min-width: 768px) {
        .back-btn{

            &:hover{
                color: $color-4;
                background-color: $color-1;
                border-radius: 50%;
                padding: 0.4rem;
            }
        }
  }

}