/* Shared CSS */
/*mob*/
.page-header {
  top: 0;
  /*tablet*/
}
.page-header .nav-btn {
  font-family: "Share Tech Mono", monospace;
  font-size: 0.9rem;
  color: #020d33;
  background-color: #ced9ff;
  border: none;
  border-radius: 2rem;
  width: 5rem;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-top: 0;
}
.page-header .start-quize-btn {
  width: 7rem;
  margin-right: 2rem;
}

/* samme for pc  1200px */
/* Mob */
.icon-section {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.icon-section .icon-titel {
  font-size: 1.7rem;
}
.icon-section .icon-titel {
  order: 0;
  width: 100%;
  color: #f5f5f5;
  font-family: "VT323", monospace;
  text-align: center;
}
.icon-section .icon {
  order: 1;
  width: 100%;
  text-align: center;
  margin: 2rem;
}
.icon-section .icon__planet {
  width: 3rem;
  height: 2.1rem;
  padding: 1rem;
  margin-right: 2rem;
}
.icon-section .icon__planet:hover {
  background-color: #020d33;
  opacity: 0.5;
}
.icon-section .icon__building {
  width: 2.5rem;
  padding: 1rem;
  height: 2.2rem;
}
.icon-section .icon__building:hover {
  background-color: #020d33;
  opacity: 0.5;
  /*   border: 0.15rem solid;
  border-radius: 20%;
  border-color: $color-3;
  width: 2rem;
  height: 1.5rem;
  */
}

/* Quiz CSS */
body {
  background-color: #020d33;
}

.quiz-section {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  padding: 1rem;
  position: relative;
}
.quiz-section__div, .quiz-section__div2 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 12px;
}
.quiz-section #results-div {
  padding: 1rem;
}
.quiz-section #submit-btn {
  padding: 0.4rem;
  width: 7rem;
  height: 2rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #ced9ff;
  color: #020d33;
  font-size: 0.6rem bold;
  font-family: "Share Tech Mono", monospace;
}

/* Hentet fra JS */
.question {
  padding: 1rem;
  font-family: "montserrat";
  font-size: 14px;
}

.quiz-label {
  padding: 1rem;
}

/* Tablet */
/*pc*/
@media screen and (min-width: 1200px) {
  #submit-btn:hover {
    background-color: #020d33;
    color: #ced9ff;
    border: solid #66f875;
  }
}
/* Mobile */
.page-header {
  justify-content: flex-start;
  /* Tablet */
}
.page-header .back-btn {
  margin-left: 0.5rem;
  color: #ff7a41;
  padding: 0.4rem;
  flex: start;
}
.page-header .nav-btn {
  width: 9rem;
  margin: 0.5rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .page-header .back-btn:hover {
    color: #66f875;
    background-color: #020d33;
    border-radius: 50%;
    padding: 0.4rem;
  }
}

/* Mob */
.icon-section {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.icon-section .icon-titel {
  padding: 1.5rem;
  font-size: 14px;
}
.icon-section .icon {
  margin: 0.5rem;
  text-decoration: none;
}
.icon-section .icon__planet, .icon-section .icon__building {
  padding: 0.5rem;
}

.saved-results {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 14px;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem;
  color: #ced9ff;
  border-style: solid;
  border-width: 1px;
  border-color: #ced9ff;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .saved-results {
    margin: 2rem 8rem 0 8rem;
    text-align: center;
  }
}/*# sourceMappingURL=quiz.css.map */