/* Shared CSS */
/*mob*/
.page-header {
  top: 0;
  /*tablet*/
}
.page-header .nav-btn {
  font-family: "VT323", monospace;
  font-size: 0.9rem;
  color: #020d33;
  background-color: #ced9ff;
  border: none;
  border-radius: 2rem;
  width: 5rem;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-top: 0;
}
.page-header .start-quize-btn {
  width: 7rem;
  margin-right: 2rem;
}

/* samme for pc  1200px */
/* Mob */
.icon-section {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.icon-section .icon-titel {
  order: 0;
  width: 100%;
  color: #f5f5f5;
  font-family: "VT323", monospace;
  text-align: center;
}
.icon-section .icon {
  order: 1;
  width: 100%;
  text-align: center;
  margin: 2rem;
}
.icon-section .icon__planet {
  width: 3rem;
  height: 2.1rem;
  padding: 1rem;
  margin-right: 2rem;
}
.icon-section .icon__planet:hover {
  background-color: #020d33;
  opacity: 0.5;
}
.icon-section .icon__building {
  width: 2.5rem;
  padding: 1rem;
  height: 2.2rem;
}
.icon-section .icon__building:hover {
  background-color: #020d33;
  opacity: 0.5;
  /*   border: 0.15rem solid;
  border-radius: 20%;
  border-color: $color-3;
  width: 2rem;
  height: 1.5rem;
  */
}

/* Quiz CSS */
body {
  background-color: #020d33;
}

.quiz-section {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  padding: 1rem;
}
.quiz-section__div, .quiz-section__div2 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 12px;
}

.question {
  padding: 1rem;
  font-family: "montserrat";
  font-size: 14px;
}

.quiz-label {
  padding: 1rem;
}

/**
.quiz{
    //box-sizing: border-box;
    background-color: $color-2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 3rem 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    overflow: hidden;
    font-size: 14px;

    &__div{
        color: $color-1;
        font-family: $font-1;
        overflow: hidden;

        #question-h3{
            padding: 0.5rem;
        }

        .list{

        }

    }

    #next-btn{
        border-radius: 5px;
        display: block;
        border: none;
        background-color: $color-1;
        color: $color-5;
        font-family: $font-1;
        padding: 0.5rem;
        margin: 1rem;

        &:focus{
            outline: none;
            background-color: $color-3;
        }

    }


}*/
/* Mobile */
.page-header {
  justify-content: flex-start;
  /* Tablet */
}
.page-header .back-btn {
  margin-left: 0.5rem;
  color: #ff7a41;
  padding: 0.4rem;
  flex: start;
}
.page-header .nav-btn {
  width: 9rem;
  margin: 0.5rem;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .page-header .back-btn:hover {
    color: #66f875;
    background-color: #020d33;
    border-radius: 50%;
    padding: 0.4rem;
  }
}

/* Mob */
.icon-section {
  display: flex;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.icon-section .icon-titel {
  padding: 1rem;
}
.icon-section .icon {
  margin: 0.5rem;
}
.icon-section .icon__planet, .icon-section .icon__building {
  padding: 0.5rem;
}/*# sourceMappingURL=quiz.css.map */