@charset "UTF-8";
/* Shared CSS */
/*mob*/
.page-header {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
  /* Tablet og større */
}

/* Mob */
/*logo*/
body {
  background-color: #020d33;
}

.page-header-resize {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.page-header-resize .page-header-logo {
  width: 13rem;
}

.icon-section {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.icon-section .icon-titel {
  order: 0;
  width: 100%;
  color: #f5f5f5;
  font-family: "VT323", monospace;
  text-align: center;
  font-size: 1.5rem;
}
.icon-section .icon {
  order: 1;
  width: 100%;
  text-align: center;
  margin: 0.5rem;
}
.icon-section .icon__planet {
  width: 3rem;
  height: 2.1rem;
  padding: 1rem;
  margin-right: 2rem;
}
.icon-section .icon__planet:hover {
  background-color: #020d33;
  opacity: 0.5;
}
.icon-section .icon__building {
  width: 2.5rem;
  padding: 1rem;
  height: 2.2rem;
}
.icon-section .icon__building:hover {
  background-color: #020d33;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .icon-section .icon-titel {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .icon-section .icon-titel {
    font-size: 2.5rem;
  }
}

/*mob*/
/*Inder*/
/* quize page*/
.nav-btn,
#submit-btn {
  font-family: "Share Tech Mono", monospace;
  font-size: 0.9rem;
  color: #020d33;
  background-color: #f5f5f5;
  border: none;
  border-radius: 2rem;
  width: 9rem;
  height: 3rem;
  margin: 1rem;
}

/*learning page*/
.button {
  display: flex;
  justify-content: center;
  color: #ced9ff;
}
.button__info, .button__info-planet, .button__alphabetical, .button__alphabetical-planet, .button__year, .button__placement {
  width: 9rem;
  height: 3rem;
  padding: 0.8rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #ced9ff;
  color: #020d33;
  font-size: 0.6rem;
  font-family: "Share Tech Mono", monospace;
  margin-right: 1rem;
}

/*tablet*/
@media screen and (min-width: 768px) {
  .nav-btn {
    width: 9rem;
  }
}
/*pc*/
@media screen and (min-width: 1200px) {
  .button__info, .button__info-planet {
    margin-right: 6rem;
  }
  .button__year, .button__placement {
    margin-left: 6rem;
  }

  /*HOVER*/
  .nav-btn:hover,
#submit-btn:hover {
    border: solid #f5f5f5;
    background-color: #020d33;
    color: #f5f5f5;
  }

  .button__info:hover, .button__alphabetical:hover, .button__year:hover {
    border: solid #ff7a41;
    background-color: #020d33;
    color: #ced9ff;
  }
  .button__info-planet:hover, .button__alphabetical-planet:hover, .button__placement:hover {
    background-color: #020d33;
    color: #ced9ff;
    border: solid #66f875;
  }
}
/* Quiz CSS */
/*LocalStorage resultater*/
.saved-results {
  font-size: 18px;
  margin: auto 2rem 1rem 2rem;
  border-color: #ced9ff;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 1rem;
}

/* Quiz */
.quiz-section {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  padding: 1rem;
  position: relative;
}
.quiz-section__div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-size: 12px;
}
.quiz-section #results-div {
  padding: 1rem;
  font-family: "Share Tech Mono", monospace;
}
.quiz-section__question {
  padding: 1rem;
  font-family: "montserrat";
  font-size: 15px;
  margin-top: 1rem;
}
.quiz-section__label {
  padding: 1rem;
}
.quiz-section #prize-txt {
  color: #f5f5f5;
  font-family: "Share Tech Mono", monospace;
}
.quiz-section #collect-prize {
  text-decoration: none;
  color: #f5f5f5;
  padding: 0.5rem;
  border-color: #66f875;
  border-width: 2px;
  border-style: solid;
  margin-top: 0.9rem;
  border-radius: 50%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .saved-results {
    font-size: 16px;
    margin: auto 10rem 1rem 10rem;
  }
}
/*pc*/
@media screen and (min-width: 1024px) {
  .saved-results {
    margin-left: 4rem;
    margin: auto 10rem 1rem 10rem;
  }

  #collect-prize:hover {
    color: #66f875;
  }
}/*# sourceMappingURL=quiz.css.map */