$color-1: #020d33;
$color-2: #ced9ff;
$color-3: #ff7a41;
$color-4: #66f875;
$color-5: #f5f5f5;
.building-section {
  display: none;

  .continents-form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    &__header {
      color: $color-2;
      margin-right: 1rem;
      margin-top: 0.5rem;

      font-size: 1rem;
      font-family: "Share Tech Mono", monospace;
    }

    #continents {
      background-color: $color-5;
      border-style: none;
      border-radius: 2rem;
      padding: 0.5rem;
      color: $color-1;
      font-size: 1rem;
      font-family: "Share Tech Mono", monospace;
    }
  }
}
