// error text

$color-1: #020d33;
$color-2: #ced9ff;
$color-3: #ff7a41;
$color-4: #66f875;
$color-5: #f5f5f5;

.smiley {
  grid-column: auto/span 12;
  display: flex;
  justify-content: center;
  color: $color-3;
  font-size: 10rem;
  margin: 2rem;
  margin-top: 4rem;
}
.smiley-text {
  grid-column: auto/span 12;
  display: flex;
  justify-content: center;
  color: $color-3;
  font-size: 2rem;
  width: 100%;
  font-family: "VT323", monospace;
}
