/*mob*/
.page-header {
  display: flex;
  justify-content: right;
  /*tablet*/
}
.page-header .nav-btn {
  font-family: "Share Tech Mono", monospace;
  font-size: 0.9rem;
  color: #020d33;
  background-color: #f5f5f5;
  border: none;
  border-radius: 2rem;
  width: 9rem;
  height: 3rem;
  padding: 0.8rem;
  margin: 1rem;
}
.page-header .nav-btn:hover {
  border: solid #f5f5f5;
  background-color: #020d33;
  color: #f5f5f5;
}
.page-header .start-quize-btn {
  width: 9rem;
  margin-right: 2rem;
}

/* samme for pc  1200px */
/*
/* Mob */
/*logo*/
body {
  background-color: #020d33;
}

.page-header-resize {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.page-header-resize .page-header-logo {
  width: 20rem;
}

.icon-section {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.icon-section .icon-titel {
  font-size: 1.7rem;
}
.icon-section .icon-titel {
  order: 0;
  width: 100%;
  color: #f5f5f5;
  font-family: "VT323", monospace;
  text-align: center;
}
.icon-section .icon {
  order: 1;
  width: 100%;
  text-align: center;
  margin: 2rem;
}
.icon-section .icon__planet {
  width: 3rem;
  height: 2.1rem;
  padding: 1rem;
  margin-right: 2rem;
}
.icon-section .icon__planet:hover {
  background-color: #020d33;
  opacity: 0.5;
}
.icon-section .icon__building {
  width: 2.5rem;
  padding: 1rem;
  height: 2.2rem;
}
.icon-section .icon__building:hover {
  background-color: #020d33;
  opacity: 0.5;
  /*   border: 0.15rem solid;
  border-radius: 20%;
  border-color: $color-3;
  width: 2rem;
  height: 1.5rem;
  */
}

.building-section,
.planet-section {
  display: none;
}
.building-section .search,
.planet-section .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.building-section .search__input, .building-section .search__input-planet,
.planet-section .search__input,
.planet-section .search__input-planet {
  width: 8rem;
  padding: 0.6rem;
  border-radius: 2rem;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
}

/*** Mobil ***/
.building-section,
.planet-section {
  display: none;
}
.building-section .button,
.planet-section .button {
  display: flex;
  justify-content: center;
  color: #ced9ff;
  /*tablet*/
}
.building-section .button__info, .building-section .button__info-planet, .building-section .button__alphabetical, .building-section .button__alphabetical-planet, .building-section .button__year, .building-section .button__placement,
.planet-section .button__info,
.planet-section .button__info-planet,
.planet-section .button__alphabetical,
.planet-section .button__alphabetical-planet,
.planet-section .button__year,
.planet-section .button__placement {
  width: 9rem;
  height: 3rem;
  padding: 0.8rem;
  border-radius: 2rem;
  border-style: none;
  background-color: #ced9ff;
  color: #020d33;
  font-size: 0.6rem bold;
  font-family: "Share Tech Mono", monospace;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .building-section .button,
.planet-section .button {
    /*HOVER*/
    /*pc*/
  }
  .building-section .button .button__info, .building-section .button .button__info-planet,
.planet-section .button .button__info,
.planet-section .button .button__info-planet {
    margin-right: 4rem;
  }
  .building-section .button .button__year, .building-section .button .button__placement,
.planet-section .button .button__year,
.planet-section .button .button__placement {
    margin-left: 4rem;
  }
  .building-section .button__info:hover, .building-section .button__alphabetical:hover, .building-section .button__year:hover,
.planet-section .button__info:hover,
.planet-section .button__alphabetical:hover,
.planet-section .button__year:hover {
    border: solid #ff7a41;
    background-color: #020d33;
    color: #ced9ff;
  }
  .building-section .button__info-planet:hover, .building-section .button__alphabetical-planet:hover, .building-section .button__placement:hover,
.planet-section .button__info-planet:hover,
.planet-section .button__alphabetical-planet:hover,
.planet-section .button__placement:hover {
    background-color: #020d33;
    color: #ced9ff;
    border: solid #66f875;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .building-section .button .button__info, .building-section .button .button__info-planet,
.planet-section .button .button__info,
.planet-section .button .button__info-planet {
    margin-right: 6rem;
  }
  .building-section .button .button__year, .building-section .button .button__placement,
.planet-section .button .button__year,
.planet-section .button .button__placement {
    margin-left: 6rem;
  }
}

.building-section {
  display: none;
}
.building-section .continents-form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.building-section .continents-form__header {
  color: #ced9ff;
  margin-right: 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
}
.building-section .continents-form #continents {
  background-color: #f5f5f5;
  border-style: none;
  border-radius: 2rem;
  padding: 0.5rem;
  color: #020d33;
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
}

body {
  background-color: #020d33;
}

.all-learning-section {
  margin: 1.2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  font-family: "VT323", monospace;
  color: #020d33;
  /*mobil*/
  /*tablet*/
  /*pc*/
}
.all-learning-section .info {
  grid-column: auto/span 12;
  background: linear-gradient(rgba(255, 255, 255, 0.297), rgba(255, 255, 255, 0.9));
  padding: 1.5rem;
  border-radius: 10px;
}
.all-learning-section .info__title {
  font-size: 1.3rem;
  text-align: center;
  color: #ced9ff;
  margin-bottom: 1rem;
}
.all-learning-section .info__img {
  width: 100%;
  padding-bottom: 2rem;
}
.all-learning-section .info__img-planet {
  justify-content: center;
  width: 100%;
  height: 15rem;
  padding-bottom: 2rem;
}
.all-learning-section .info__section {
  margin-bottom: 0.6rem;
  font-family: "Share Tech Mono", monospace;
}
@media screen and (min-width: 768px) {
  .all-learning-section .info {
    grid-column: auto/span 6;
  }
}
@media screen and (min-width: 1100px) {
  .all-learning-section .info {
    grid-column: auto/span 4;
  }
}

/*hover*/
.info:hover h3 {
  color: #020d33;
}

.info:hover {
  background-color: #f5f5f5;
}

.smiley,
.smiley-text {
  width: 100%;
  grid-column: auto/span 12;
  display: flex;
  justify-content: center;
  color: #ff7a41;
  font-size: 10rem;
  margin: 2rem;
  margin-top: 4rem;
}

.smiley-text:not(font-size) {
  font-size: 5rem;
}/*# sourceMappingURL=learning-main.css.map */